<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--        DtaSource使用spring数据源替换mybatis配置
这里我们使用spring提供的jdbcorg.springframework.jdbc.datasource.DriverManagerDataSource-->


    <bean id="datasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/select1?useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=false&amp;serverTimezone=UTC"/>
        <property name="username" value="root"/>
        <property name="password" value="954842014.yes"/>
    </bean>
<!--        配置SqlSessionFactory-->
    <bean id="sesSionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="datasource"/>
<!--        绑定Mybatis配置文件-->
        <property name="configLocation" value="classpath:MybatisConFig.xml"/>
        <property name="mapperLocations" value="classpath:MapperUser.xml"/>
    </bean>
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
<!--        sqlSession只能使用sesSionFactory构造方法注入,因为它没有set方法-->
        <constructor-arg index="0" ref="sesSionFactory"/>
    </bean>
    <bean id="MapperUser" class="luo.pojo.MapperUserlmpl">
        <property name="session" ref="sqlSession"/>
    </bean>
    <bean id="MyAwareImpl" class="luo.AwareTest.MyAwareImpl"/>

    <bean id="ExAware" class="luo.AwareTest.ExAware"/>
</beans>